"Main load script"
#(support core core_tests terminals terminals_tests transforms transforms_tests substreams substreams_tests)
    do: [ :each | Smalltalk fileIn: 'xtreams/stx_goodies_xtreams_', each, '.st' ]
!
"It seems class side extensions are ignored when filing out a package."
Smalltalk fileIn: 'xtreams/SequenceableCollection class-newRecycled:.st'.
Smalltalk fileIn: 'xtreams/FileDescriptorHandle-fixes.st'.
"Pool initialization doesn't run on fileIn either."
Xtreams::XtreamsPool initialize
!
